
body {
	font-family: 'Open Sans', serif;
	font-size: 16px; 
	margin: 0;
	padding: 0;
	letter-spacing: 0em;
}

main {
	overflow: hidden;
}

div, p, form, input, a, span, button {
	box-sizing: border-box;
}

p {
	margin: 0;
    font-size: 16px;
    line-height: 1.6em;
    margin-bottom: 1em;
}

ul, li {
	display: block;
	padding: 0;
	margin: 0;
}

h1, h2, h3, h4, h5, h6 {
	font-weight: 700;
	color: #2d3033;
	text-transform: uppercase;
	opacity: 0.8;
	margin: 0;
}

h1 {
	font-size: 60px;
	font-weight: 800;
}

h2 {
	font-size: 42.216px;;
}

h3 {
	font-size: 24px;
}

h4 {
	font-size: 22px;
}

a, a:hover, a:active {
	text-decoration: none;
}

a, button, input {
	transition: all 0.5s ease;
}

input, input:hover, input:focus, input:active,
button, button:hover, button:focus, button:active
{
	outline: none;
}

.btn  {
 	border-radius: 5px;
 	padding: 10px 60px;
 	font-size: 18px;
 	font-weight: bold;
 	line-height: 1.878;
 	text-decoration: none;
}
.btn.red {
	background-color: #ff2d2d;
	color: #fff;
	border: 2px solid #ff2d2d;
}
.btn.red:hover{
	background-color: #fff;
	color: #ff2d2d;
	border: 2px solid #ff2d2d;
}
.btn.white {
	background-color: #fff;
	color: #ff2d2d;
	border: 2px solid #ff2d2d;
}
.btn.white:hover {
	background-color: #ff2d2d;
	color: #fff;
}


/* container */
.container {
	max-width: 1280px;
}


/* header */
#header {
	padding-top: 29px;
	background-color: #f6f2f2;
	z-index: 1000;
}
#header.fixed {
    padding: 10px 0;

    background-color: #313030;
    box-shadow: 0 3px 10px rgba(0, 0, 0, 0.2);

    position: fixed;
    top: 0;
    left: 0;
    right: 0;

    transform: translate3d(0, 0, 0);
}
/* nav */
.nav {
	background-color: #313030;
	justify-content: center;
}
.nav ul {
	display: flex;
}
.nav__item a {
	display: block;
	padding: 38px 22px 30px 22px;
	font-size: 14px;
	font-weight: bold;
	text-transform: uppercase;
	text-decoration: none;
	color: #e0e0e0;	
}
.nav__item a:hover,
.nav__item.active a {
	color: #fff;
}
.header.fixed .nav__item a {
	padding: 15px 22px 15px 22px;
}
.nav__item.active {
	background-color: #ff3f40;
	color: #fff;
}


/* intro */
#intro {
	padding: 95px 0 115px 0;
	background-color: #f6f2f2;
}
.intro__title {
	letter-spacing: 5px;
}
.intro__text {
	line-height: 28px;
	margin: 16px 0px 53px 0px;
	width: 100%;
   max-width: 520px;
}
.intro__frame {
	position: relative;
	width: 100%;
	margin-left: auto;
   margin-right: 0;
   margin-top: 5px;
	max-width: 551px;
	height: 356px; 
	background-color: #000;
  	box-shadow: 0px 14px 73px 0px rgba(0, 0, 0, 0.29);
}
.btn-videoplay {
	position: absolute;
	top: 50%;
	left: 50%;
	width: 70px;
	height: 70px;
	margin-left: -35px;
   margin-top: -35px;
	border: none;
	outline: none;
	background-color: transparent;
	background-repeat: no-repeat;
	background-image: url(../video/video-icon.png);
	opacity: 1;
	cursor: default;
	z-index: 100;
}
.btn-videoplay.hidden {
	opacity: 0;
}
.btn-videoplay:hover {
	cursor: pointer;
	opacity: 1;
}


/* services */
#services {
	padding: 100px 0;
}
.services__inner {
	position: relative;
}
.services__inner:after {
	position: absolute;
	content: "";
	display: block;
	bottom: -67px;
	width: 100%;
	height: 2px;
	background-color: #ececec;
}
.services__title {
	line-height: 1.31;
}
.services__text {
	margin: 35px 0 50px 0;
	line-height: 1.75;
	width: 100%;
	max-width: 500px;
}
.services__item {
	margin: 5px 0px 10px 0px;
}
.services__item-title {
	padding-top: 27px;
	text-transform: none;
}
.services__item-text {
	padding-top: 10px;
	line-height: 1.75;
}


/* portfolio */
#portfolio {
	padding: 60px 0;
}
.portfolio__title {
	text-align: center;
}
.portfolio__text {
	text-align: center;
	margin: 0 auto;
	padding: 25px 0 30px;
	position: relative;
	width: 100%;
	max-width: 500px;
}
.portfolio__text:after {
	position: absolute;
	content: "";
	display: block;
	bottom: 0;
	left: 50%;
   margin-left: -65px;
	width: 130px;
	height: 2px;
	background-color: #ff2d2d;
}

.gallery__filter {
	margin: 80px 0 60px 0;
	text-align: center;
}
.filter-button {
	font-size: 22px;
	font-weight: bold;
	border: none;
	background: none;
	padding: 0 25px 0 25px;
	text-transform: uppercase;
	outline-style: none;
	opacity: 0.7;
}
.filter-button:hover,
.filter-button.active {
	color: #ff2d2d;
	opacity: 1;
}

.gallery {
	display: flex;
	flex-wrap: wrap;
}
.gallery__product {
	width: 25%;
	height: 300px;
	padding: 10px;
   overflow: hidden;
}
.gallery__product img {
	width: 100%;
	max-width: 100%;
   height: 100%;
	object-fit: cover;
	transition: .3s;
}
.gallery__product img:hover {
	transform: scale(1.1);
}


/* about */
#about {
	padding: 65px 0px 110px;
}
.about__text {
	padding: 25px 0 30px;
	position: relative;
	max-width: 450px;
	line-height: 28px;
}
.about__text:after {
	position: absolute;
	content: "";
	display: block;
	bottom: 0;
	left: 0;
	width: 130px;
	height: 2px;
	background-color: #ff2d2d;
}
.about__inner {
	margin-top: 75px;
}
.about__bigfoto {
	width: 100%;
	height: 100%;
	padding-right: 75px;
	transition: .3s;
}
.about__bigfoto:hover {
	transform: scale(1.03);
}
.about__team {
	margin-left: -35px;
}
.about__subtitle {
	padding-top: 5px;
	font-size: 30px;
}
.about__subtext {
	margin: 25px 0 0 0;
	max-width: 700px;
	line-height: 1.75;
}
.about__sociallink {
	display: flex;
	flex-wrap: wrap;
	padding: 32px 0;
}
.about__sociallink li {
	padding-right: 40px;
}
.about__sociallink a {
	color: #000000;
	font-style: italic;
	font-size: 18px;
}
.about__foto {
	margin: 30px 0 0;
}
.about__foto img {
	width: 100%;
	transition: .3s;
}
.about__foto img:hover {
	transform: scale(1.03);
}

/* mailing */
#mailing {
	padding: 130px 0;
	background-image: url(../images/mailing.jpg);
   background-repeat: no-repeat;
   background-size: cover;
   text-align: center;
}
.mailing__title {
	letter-spacing: 0.07rem;
	color: #ffffff;
	text-transform: none;
}
.mailing__text {
	text-align: center;
	padding: 30px 0;
	margin: 0;
	color: #ffffff;
}
#mailing form {
	margin: 25px 0 5px 0;
}
#mailing input[type=email] {
	padding: 25px;
	font-size: 18px;
	border: none;
	background-color: #fff;
	color: #2c2c2c;
	border-radius: 5px;
	max-width: 500px;
	width: 100%;
	margin-bottom: 15px;
}
#mailing .btn.red {
	text-transform: uppercase;
	padding: 22px 65px;
}


/* contact */
#contact {
	padding: 100px 0;
}
.contact__text {
	padding: 35px 0 50px;
	position: relative;
	line-height: 1.75;
}
.contact__text:after {
	position: absolute;
	content: "";
	display: block;
	bottom: 0;
	left: 0;
	width: 130px;
	height: 2px;
	background-color: #ff2d2d;
}
.contact__inner {
	margin: 60px 0 0;
}
.contact__form {
	display: flex;
	justify-content: space-between;
	flex-wrap: wrap;
}
.contact__form input {
	margin-bottom: 46px;
	padding: 21px 50px 21px 50px;
	border: 0;
	border-radius: 5px;
	background-color: #e5e5e5;
	font-size: 18px;
	width: 47%;
}
.contact__form textarea {
	margin-bottom: 46px;
	padding: 30px 50px 30px 50px;
	resize: none;
	width: 100%;
	border: 0;
	border-radius: 5px;
	background-color: #e5e5e5;
	font-size: 18px;
}
#contact .btn.red {
	text-transform: uppercase;
	width: 100%;
	text-align: center;
	font-size: 18px;
	padding: 18px 0;
}

.contact__info {
	position: relative;
	background-color: #2d2d2d;
	color: #ffffff;
	margin: 0 0 0 90px;
	padding: 140px 10px 127px 80px;
}
.contact__info:after {
	position: absolute;
	content: "";
	display: block;
	right: -99%;
	top: 0;
	height: 100%;
	width: 100%;
	background-color: #2d2d2d;;
}
.contact__info h3 {
	color: #ffffff;
	font-size: 18px;
	margin-bottom: 35px;
}
.contact__info p {
	opacity: 0.8;
	margin-bottom: 20px;
}

/* footer */
#footer {
	margin-top: 10px;
	padding: 50px 0 40px;
	background-color: #313030;
}
.footer__copyright {
	text-align: left;
	color: #b8b8b8;
}
.footer__icons {
	text-align: right;
}
.footer__icons a {
	color: #b8b8b8;
}
.footer__icons a:hover {
	color: #fff;
}
.footer__icons i {
	margin-right: 25px;
	font-size: 20px;
}


/* Media
===================*/

@media (max-width: 1200px) {
	h1 {
		font-size: 48px;
	}
	h2 {
		font-size: 33px;
	}
	h3 {
		font-size: 20px;
	}
	h4 {
		font-size: 18px;
	}

	/* intro */
	#intro {
		padding: 75px 0;
	}
	.intro__text {
		max-width: 100%;
	}
	/* services */
	#services {
		padding: 75px 0;
	}
	.services__col {
		margin-top: 25px;
	}
	.services__text {
   	max-width: 100%;
   }
   /* portfolio */
   #portfolio {
   	padding: 75px 0;
   }
   .gallery__filter {
   	margin: 50px 0;
   }
   .gallery__product {
		height: auto;
	}
   /* about */
   #about {
   	padding: 75px 0;
   }
   .about__text {
   	max-width: 100%;
   }
   .about__sociallink {
   	padding: 10px 0;
   }
   .about__foto {
   	margin: 10px 0 0;
   }
   .about__team {
   	margin: 0;
	}
	.about__bigfoto {
   	padding: 0;
	}
   /* mailing */
   #mailing {
   	padding: 75px 0;
   }
   /* contact */
   #contact {
   	padding: 75px 0;
   }
   .contact__info {
   	margin: 30px 0 0 0;
   }
   .contact__info:after {
   	display: none;
	}
}

@media (max-width: 991px) {
	/* header */
	#header {
    padding: 0;
    background-color: #313030;
	}
	#header.fixed {
		padding: 0;
	}
	/* intro */
	.intro__frame {
		margin: 25px auto;
	}
	/* portfolio */
	.filter-button {
		padding: 0 15px 0 15px;
		font-size: 18px;
	}
   .gallery__product {
		width: 50%;
	}
	/* about */
	.about__bigfoto {
		width: auto;
		height: 100%;
		max-height: 410px;
	}
}


@media (max-width: 767px) {
	h1 {
		font-size: 38px;
	}
	h2 {
		font-size: 26px;
	}
	h3 {
		font-size: 16px;
	}
	h4 {
		font-size: 14px;
	}
	.btn {
		padding: 10px 30px;
	}
	#mailing .btn.red {
		padding: 15px 40px;
	}
	#contact .btn.red {
		padding: 15px 0;
	}

	/* header */
	#header.fixed .nav__item a,
	.nav__item a {
   	padding: 18px 20px 18px 20px;
   	font-size: 12px;
 	}
	/* intro */
	#intro {
		padding: 50px 0;
	}
	.intro__title {
	    letter-spacing: 0px;
	}
	/* services */
	#services {
		padding: 50px 0;
	}
	.services__inner:after {
		bottom: -50px;
	}
	/* portfolio */
   #portfolio {
   	padding: 50px 0;
   }
   .gallery__filter {
   	margin: 30px 0;
   }
   /* about */
   #about {
   	padding: 50px 0;
   }
   .about__inner {
		margin-top: 35px;
	}
   /* mailing */
   #mailing {
   	padding: 50px 0;
   }
   #mailing input[type=email] {
   	padding: 22px;
   }
   /* contact */
   #contact {
   	padding: 50px 0;
   }
   .contact__inner {
   	margin: 30px 0 0;
   }
   .contact__form input {
		width: 100%;
		margin-bottom: 25px;
   }
   .contact__form textarea {
   	margin-bottom: 25px;
   }
   .contact__info {
		padding: 90px 40px 90px 40px
	}
   /* footer */
   .footer__copyright {
   	text-align: center;
   }
   .footer__icons {
   	margin-top: 10px;
   	text-align: center;
   }
}


@media (max-width: 414px) {
	h1 {
		font-size: 33px;
	}
	.btn {
		padding: 5px 40px;
	}
	#mailing .btn.red {
		padding: 10px 40px;
	}
	#contact .btn.red {
		padding: 10px 0;
	}

	/* header */
	#header.fixed .nav__item a,
	.nav__item a {
		padding: 18px 8px 18px 8px;
	}
	/* intro */
	#intro {
		padding: 40px 0;
	}
	.intro__frame {
   	height: 250px;
 	}	
 	.intro__text {
 		margin: 15px 0px 15px 0px;
 	}
 	/* services */
	#services {
		padding: 40px 0;
	}   
	.services__inner:after {
		bottom: -40px;
	}
	.services__text {
   	margin: 25px 0 25px 0;
 	}
	/* portfolio */
   #portfolio {
   	padding: 40px 0;
   }
   .gallery__product {
		width: 100%;
	}
   /* about */
   #about {
   	padding: 40px 0;
   }
   .about__sociallink li {
   	padding-right: 10px;
	}
   /* mailing */
   #mailing {
   	padding: 40px 0;
   }
   /* contact */
   #contact {
   	padding: 40px 0;
	}

}